{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Private Assets</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static  'css/private.css' %}">

</head>
<body>

<h1 style="text-align: center;">Asset value survey</h1>

<form method="post">
    {% csrf_token %}

    <p>
        {{ form.deposit.label_tag }}<br>

        <input
        type="text"
        name="deposit"
        value="{{ deposit|floatformat:0 }}"
        >
    </p>

    <h3>Assets</h3>

<div id="assets">
  {% for holding in assets %}
    <div class="asset-row">
      <input
        type="text"
        name="asset_name[]"
        value="{{ holding.asset.name }}"
        readonly
      >

      <input 
        type="number"
        step="any"
        name="asset_value[]"
        value="{{ holding.amount|floatformat:0 }}"
      >
    </div>
  {% endfor %}
</div>


    <button type="button" onclick="addAsset()">+</button>
    <br><br>

    <button type="submit">Calculate</button>
</form>

{% if history %}
<h2 style="text-align: center;">History</h2>
<table class="history-table" cellpadding="6">
    <tr>
        <th>Date</th>
        <th>Asset</th>
        <th>Total</th>
        <th>Deposit</th>
    </tr>

    {% for row in history %}
    <tr style="text-align: right;">
        <td>{{ row.created_at|date:"Y-m-d H:i" }}</td>
        <td>
            {% for asset in row.assets.all %}
                {{ asset.asset.name }}: {{ asset.amount }}<br>
            {% endfor %}

        <td>{{ row.total }}</td>
        <td>{{ row.deposit }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}




{% if chart_total_balance %}
    <h3 style="text-align: center;">Total Balance</h3>
    <img class="chart" src="{% static chart_total_balance %}">

{% endif %}

{% if chart_total_profit %}
    <h3 style="text-align: center;">Total Profit</h3>
    <img class="chart" src="{% static chart_total_profit %}">

{% endif %}

{% if chart_diversification %}
    <h3 style="text-align: center;">Asset Diversification</h3>
    <img class="chart" src="{% static chart_diversification %}">


{% endif %}

{% if chart_monthly_profit %}
    <h3 style="text-align: center;">Monthly Profit Candles</h3>
    <img class="chart" src="{% static chart_monthly_profit %}">

{% endif %}


<script>
function addAsset() {
    const div = document.createElement("div");
    div.className = "asset-row";
    div.innerHTML = `
        <input type="text" name="asset_name[]" placeholder="asset name">
        <input type="number" step="0.01" name="asset_value[]" placeholder="value">
    `;
    document.getElementById("assets").appendChild(div);
}
</script>

</body>
</html>
