{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Konwerter X i Y</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static  'css/main.css' %}">
    </head>
    <body>
        <h1>Formularz Konwersji Współrzędnych</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Konwertuj</button>
        </form>
        {% if result is not None %}
            <h2>Wynik: {{ result }}</h2>
        {% endif %}
        <a href="https://www.google.com/maps?q={{ result }}">Zobacz w Google Maps</a>
    </body>
</html>