body {
    background-image: url('/static/images/swiece_japonskie.png');
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    background-color: #0b1220; /* granatowe tło pod obrazkiem */
    color: #ffffff;

}


.container {
    background: rgba(10, 15, 30, 0.85);
    padding: 20px;
    border-radius: 12px;


}

.history-table {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    color: #ffffff;

    margin: 0 auto;      /* ← to centruje całą tabelę */
    border-collapse: collapse;
    text-align: center;

}


.chart {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
